// Pin map of the espSID CPLD
//
// https://github.com/blark/espSID

// Clock input

NET "clk"           BUFG=CLK;
NET "clk"           LOC = P1;

// Dangerous Prototypes (DP) board stuff

NET "rst"           LOC = P18;  
NET "led_d1"        LOC = P39;
NET "led_d2"        LOC = P38;

// SID outputs

NET "sid_clk"       LOC = P3;